*{
  font-family: 'Alice', sans-serif;
}
/*FUNDO*/
body{
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
#page {
  background-color: #57382499;
  padding-bottom: 0.1rem;
}
/*PÃGINA*/
img {
  border-radius: 1rem;
  background-size: contain;
}
main {
  background-color: #F0E8C2;
  width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
}
section {
  padding: 0 1.5rem;
}
section > h1 {
  margin-top: 1.5rem;
}
footer {
  width: 800px;
  margin: 0 auto;
}
footer > p {
  text-align: center;
}
