* {
  padding: 0;
  margin: 0;
}
:root{
  font-family: 'Alice', sans-serif;
  line-height: 150%;
  color: #573A37;
}
/*FUNDO*/
body{
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*PÃGINA*/
img {
  border-radius: 1rem;
  background-size: contain;
}
main {
  background-color: #F0E8C2;
  box-sizing: border-box; /* MUITO IMPORTANTE e eu esqueci 800px total*/
  width: 800px;
  margin: 3rem auto 1.75rem;
  padding: 1.5rem;
  border-radius: 1rem;
}
h1 {
  line-height: 140%;
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
h1, h2 {
  color: #291B1A;
  margin-bottom: 0.25rem;
}
section {
  padding: 0 1.5rem;
}
section + section {
  padding-top: 1.5rem;
}
section > h1 {
  margin-top: 1.5rem;
}
#about p + p {
  margin-top: 0.75rem;
}
ul {
  padding: 0 1.5rem;
}
footer {
  width: 800px;
  margin: 0 auto;
}
footer > p {
  text-align: center;
  margin-bottom: 3rem;
  color: #F0E8C2;
}
